<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Home",'static_pages/home' %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Help",   'static_pages/home' %></li>
            <li><%= link_to "Log in", 'static_pages/home' %></li>
            <li><%= link_to "Log out", 'static_pages/home' %></li>
            <li><%= link_to "Instructors",   '../instructors#index#' %></li>
            <li><%= link_to "Courses",   '../courses#index' %></li>
            <li><%= link_to "Subjects", '../subjects#index' %></li>
          </ul>
        </nav>
      </div>
    </header>